name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: SIP-Calc  # <-- Aapke folder ka naam

    - name: Build with Gradle
      run: ./gradlew assembleDebug
      working-directory: SIP-Calc  # <-- Aapke folder ka naam

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: SIP-Calc/app/build/outputs/apk/debug/*.apk
        
