name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        # Cache ko hata diya hai taaki error na aaye

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      continue-on-error: true # Agar file na mile to build ruke nahi

    - name: Build with Gradle
      run: ./gradlew assembleDebug
      
